
@{
    ViewData["Title"] = "Detail";
    Student student = ViewBag.Students;
}

<h1>Detail</h1>

<h2>Name: @student.FullName</h2>
<h2>Id: @student.Id</h2>
<h2>Point: @student.Point</h2>
<h2>GroupId:@student.GroupId</h2>
<h2>GroupName:@student.GroupName</h2>

